section {
    margin: 0px 156px;
}

li img {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
}

.buttons li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    text-decoration: none;

    /* NAVY BLUE */
    color: #2E2F42;
}

.card-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    margin: 0px 0px 0px 15px;
}

.images-gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 15px;
    row-gap: 48px;
    margin-top: 30px;
    padding: 0px;
    padding-bottom: 120px;
}

.buttons li {
    display: flex;
    width: auto;
    margin-top: 56px;
    margin-bottom: 32px;
    background: #E7E9FC;
    border-radius: 4px;
    height: 48px;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    padding: 0 20px;
    color: blue;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
    padding: 0px;
    justify-content: center;
    gap: 24px;
    text-align: center;
    align-items: center;
}

.buttons li:hover {
    background-color: #404BBF;
    color: white;
}