/*Body CSS*/
body{
    margin: 0;
    padding: 0;
    position: relative;
    height: 2592px;
    background: #FFFFFF;
}

/*Header-Navbar CSS*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    left: 0px;
    top: 0px;
    padding: 0px 156px;;

    /* Top line bg */


box-sizing: border-box;

/*Header background, team card background */
background: #FFFFFF;
/* CORNFLOWER */

border-bottom: 1px solid #E7E9FC;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li a:hover{/* IRIS */
    /*iris*/
    color: #4D5AE5;
}
header ul li a{
    text-decoration: none;

    /* Studio */
    width: 48px;
    height: 24px;

    /* Body Medium */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;


}

header ul li {
    list-style: none;
}
.menu-nav {
    display: flex;
    justify-content: center;

    /* Auto layout */
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 261px;
    height: 24px;
    margin-left: 76px;
}
.contact-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 400px;
    height: 24px;
    top: 24px;
}


/* Logo CSS*/
.logo{
    text-decoration: none;
    font-weight: bold;
}
.web-logo{
    /*iris*/
    color: #4D5AE5;
    width: 44px;
height: 21px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */

letter-spacing: 0.03em;

/* IRIS */

color: #4D5AE5;

}
.studio-logo{
    width: 71px;
    height: 21px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    letter-spacing: 0.03em;

    /* NAVY BLUE */

    color: #2E2F42;


}

/*Hero Section CSS*/
.hero-section{

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    /* Specs of Backgroud*/
    height: 600px;
    left: 0px;
    top: 72px;

        /*Bg-Color*/
    background-color: #2E2F42;
}
.hero-section h1{
    width: 496px;
    height: 120px;
    /* Header 1 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    /* or 107% */
    letter-spacing: 0.02em;

    /* WHITE */
    color: #FFFFFF;
}
.hero-button{
    width: 169px;
    height: 56px;

    /* IRIS */
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    line-height: 24px;
}
.hero-button:hover{
    background-color: green;
}

/*Section 1 | Tag Line CSS*/
.tag-line{
    padding: 0px 156px;
    height:344px;

}
.tag-line ul{
    list-style: none;
    display: flex;
    
    
    justify-content: space-evenly;
    align-items: flex-start;

    /* Auto layout */
    margin-top: 120px;
    
}
.tag-line h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2E2F42;
}
.tag-line p{
    width: 264px;
    height: 72px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.02em;

    /* SLATE */

    color: #434455;

}


/*Section what we are doing | Our Team CSS*/
.task, .our-team{
    padding: 0px 156px;
    height:532px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.our-team{
    height: 732px;
    left: 0px;
    top: 1548px;

/* CLOUD */

background: #F4F4FD;
}

.task h2, .our-team h2{
    /* Header 2 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

    /* NAVY BLUE */
    color: #2E2F42;
}
.task ul, .our-team ul{
    list-style: none;
    display: flex;

    /* Auto layout */
    flex-direction: row;
    align-items: flex-start;
    margin-top: 72px;
    gap: 24px;
}
.our-team li{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
    
    height: 525px;

   /* Header background, team card background*/
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card-content{
    /* Team Card Names */
    width: 200px;
    height: 24px;

    /* Inside auto layout */
    margin-top: 32px;
}
.card-content h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.02em;

    /* NAVY BLUE */
    color: #2E2F42;
}
.card-content p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;

    /* SLATE */
    color: #434455;
}

/*Footer CSS*/
footer{
    height: 312px;

    display: flex;
    align-items: center;
    padding-left: 156px;
    /* NAVY BLUE */

    background-color: #2E2F42;
}
.studio-color-footer{
    color: #F4F4FD;
}
footer p{
    width: 264px;
    height: 72px;
    left: 156px;

    /* Body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.02em;

    /* CLOUD */

    color: #F4F4FD;
}



