body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

/*-------------------------------------------------------------------*/
/*                              NAVIGATION CSS                       */
/*-------------------------------------------------------------------*/
/*Top line*/
header {
    height: 72px;
    display: flex;
    padding: 0px 156px;
    box-sizing: border-box;
    justify-content: space-between;

    background: var(--white, #FFF);
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
}

nav,
.contact-section {
    gap: 76px;
    list-style: none;
    align-items: center;
    display: inline-flex;

}

.contact-section {
    gap: 40px;
    padding: 0px;
    justify-content: right;
}

.menu-nav {
    /* Menu Nav */
    gap: 40px;
    height: 24px;
    list-style: none;
    padding-left: 0px;
    display: inline-flex;
}

.studio,
.portfolio,
.contacts,
.email,
.telephone {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto';
    text-decoration: none;
    letter-spacing: 0.32px;
    color: var(--navyblue, #2E2F42);
}

.email,
.telephone {
    color: var(--slate, #434455);
}

.studio:hover,
.portfolio:hover,
.contacts:hover,
.emails:hover,
.telephone:hover {
    color: var(--ocean, #404BBF);
}

/*-------------------------------------------------------------------*/
/*                          LOGO CSS                                 */
/*-------------------------------------------------------------------*/
.logo {
    text-decoration: none;
}

.web-logo,
.studio-logo {
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    font-family: 'Raleway';
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.web-logo {
    width: 44px;
    color: var(--iris, #4D5AE5);
}

.studio-logo {
    width: 71px;
    color: var(--navyblue, #2E2F42);
}


/*-------------------------------------------------------------------*/
/*                         HERO SECTION CSS                          */
/*-------------------------------------------------------------------*/
.hero-section {
    display: flex;
    height: 600px;
    padding: 0px 156px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--navyblue, #2E2F42);
}

/* Header 1 */
.hero-h1 {
    width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    font-family: 'Roboto';
    letter-spacing: 1.12px;
    color: var(--white, #FFF);
}

/* Order Service | Button Text */
.hero-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 16px 32px;
    font-family: 'Roboto';
    letter-spacing: 0.64px;
    color: var(--white, #FFF);

    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover {
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


/*-------------------------------------------------------------------*/
/*                         SECTION-1 CSS                             */
/*-------------------------------------------------------------------*/
.tag-line {
    display: flex;
    height: 300px;
    align-items: center;
    padding: 120px 156px;
    background: #FFFFFF;
}

.tag-box {
    gap: 10px;
    flex: auto;
    padding: 0px;
    flex-wrap: wrap;
    list-style: none;
    display: inline-flex;
}

.feature {
    gap: 8px;
    flex: auto;
    width: 264px;
}

/* Header 3 */
h3 {
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-family: 'Roboto';
    color: #2E2F42;
}

.feature p,
.card-content p,
.statement-footer {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto';
    letter-spacing: 0.32px;
    margin: 8px 0px 0px 0px;
    color: var(--slate, #434455);
}

.task {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0px 156px;
    gap: 60px;
    margin-bottom: 120px;
}

.box-images {
    display: flex;
    flex: auto;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
}

h2 {
    /* Header 2 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 0px;
    text-align: center;

    /* NAVY BLUE */
    color: #2E2F42;
}

.our-team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 120px 156px;
    gap: 60px;
    background: var(--cloud, #F4F4FD);
}

.our-team li {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 525px;

    /* Header background, team card background*/
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card-content {
    margin-top: 30px;
}

/*Footer */
footer {
    padding: 0px 156px;
    height: 312px;
    /* NAVY BLUE */
    background: #2E2F42;
    display: flex;
    flex-direction: row;
    flex: auto;
    align-items: center;

}

.statement-footer {
    color: #FFFFFF;
}

.studio-color-footer {
    /* NAVY BLUE */
    color: #ffffff;
}